version: "3.9"
name: scholar

services:
  web:
    build:
      context: .
      target: dev
    command: npm run dev
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    ports:
      - "4246:4246"
    expose:
      - "80"

    restart: always
    depends_on:
      db:
        condition: service_healthy
    networks:
      - net

  nginx:
    build: ./nginx
    container_name: scholar_nginx
    depends_on:
      - web
    ports:
      - "80:80"
      - "443:443"
      
    volumes:
     
      - /app/.next
      - /app/public
    restart: always
    networks:
      - net

  db:
    container_name: db
    image: postgres:latest
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-d", "scholar"]
      interval: 10s # retry after the database is ready
      timeout: 5s
      retries: 5
    networks:
      - net

volumes:
  db-data:

networks:
  net:
    driver: bridge